{% extends 'layouts/base.html.twig' %}

{% block title %} CV paraiškos {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('search_resume') }}">Grįžti atgal</a>
        {% for resume in resumes %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <span class="h2">{{ resume.user.firstName}} {{ resume.area}} - sukurta: {{ resume.createdAt|date("m/d/Y") }}</span>
                        <div class="btn-toolbar mb-2 mb-md-0">bin/conso
                            <div class="btn-group mr-2">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('showForEmployer_resume', { 'id': resume.id }) }}">Rodyti</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}


    {% if resumes|length < 1 %}
        <p> CV nerasta. </p>
    {% endif %}
{% endblock %}
